*{
	box-sizing: border-box;
	margin-left: 0px;
	padding: 0px;
}

.row {
	width: 100%;
}

h2 {
	text-align: right;
}

#containerbox1{
	background-color: #0000FF;
}

#containerbox2{
	background-color: #FF0000;
}

#containerbox3{
	background-color: #00FF00;
}

#contentbox1{
	padding: 5px;
}

#contentbox2{
	padding: 5px;
}

#contentbox3{
	padding: 5px;
}
h1 {
	margin-bottom: 15px;
	text-align: center;
}

@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		border: 5px solid black;
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991.5px){
	.col-md-6{
		float: left;
		border: 5px solid black;
		width: 50%;
	} 
	.col-md-12{
		float: left;
		border: 5px solid black;
		width: 100%;
	}
}

@media (max-width: 767px) {
	.col-sm-12 {
		width: 100%;
		float: left;
		border: 5px solid black;
	}
}*/
